<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<style>
#formulario {
	position: relative !important;
	left: 30% !important;
}
#labelCrearServicio{
	position: relative !important;
	left: 30% !important;
}

</style>

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler " type="button" data-toggle="collapse" 
				data-target="#navbarToggerRapiSolver" 
				aria-controls="navbarToggerRapiSolver" 
				aria-expanded="false" 
				aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse "  id="navbarToggerRapiSolver">
    			<a class="navbar-brand" th:href="@{/supplier/principal}">RapiSolver</a>
    			<ul class="navbar-nav mr-auto mt-2 mt-lg-0 "> 
    				<li class="nav-item">
            			<a class="nav-link js-scroll-trigger" th:href="@{/supplier/sesion}">Mi perfil</a>
          			</li>
          			<li class="nav-item">
            			<a class="nav-link js-scroll-trigger" th:href="@{/service/list}">Buscar Servicio</a>
          			</li>
          			<li class="nav-item">
            			<a class="nav-link js-scroll-trigger" th:href="@{/service/nuevo}">Agregar Servicio</a>
          			</li>
    				
					<a th:href="@{/}" class="btn btn-danger">Cerrar Sesion</a>
    			</ul> 
    		</div> 		
    	</nav>
    	<br>
    	<br>
    	<br>
    	<div id="labelCrearServicio"><h2>Crear Servicio</h2></div>
    
    	
	<form id="formulario" th:action="@{/service/guardar}" th:object="${servicio}" method="post">
		<div class="form-group col-lg-3 col-md-3 col-xs-12">
    		<label for="exampleFormControlSelect1">Categoria</label>
    		<select class="form-control" id="exampleFormControlSelect1" th:field="*{serviceCategory.categoryId}">
      			<option th:each="categoria:${categorias}" th:value="${categoria.categoryId}" th:text="${categoria.categoryName}"></option>
    </select>
  		</div>
		<div class="form-group" >
			<label >Nombre:</label> <input
				type="text" th:field="*{serviceName}" class="form-control col-lg-3 col-md-3 col-xs-12"
				placeholder="Enter a Name"> 
		</div>
		<div class="form-group" >
			<label >Descripcion:</label> <input
				type="text" th:field="*{serviceDescription}" class="form-control col-lg-3 col-md-3 col-xs-12"
				placeholder="Enter a Descripcion"> 
		</div>
		<div class="form-group" >
			<label >Costo:</label> <input
				type="number" th:field="*{serviceCost}" class="form-control col-lg-3 col-md-3 col-xs-12"
				placeholder="Enter a Cost"> 
		</div>

		<button type="submit" class="btn btn-primary">Agregar</button>
	</form>
	
	
</body>


</html>