<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler " type="button" data-toggle="collapse" 
				data-target="#navbarToggerRapiSolver" 
				aria-controls="navbarToggerRapiSolver" 
				aria-expanded="false" 
				aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
    		</button>
    		
    		<div class="collapse navbar-collapse "  id="navbarToggerRapiSolver">
    			<a class="navbar-brand" th:href="@{/supplier/principal}">RapiSolver</a>
    			<ul class="navbar-nav mr-auto mt-2 mt-lg-0 "> 
    				<li class="nav-item">
            			<a class="nav-link js-scroll-trigger" th:href="@{/supplier/sesion}">Mi perfil</a>
          			</li>
          			<li class="nav-item">
            			<a class="nav-link js-scroll-trigger" th:href="@{/service/list}">Buscar Servicio</a>
          			</li>
          			<li class="nav-item">
            			<a class="nav-link js-scroll-trigger" th:href="@{/}">Agregar Servicio</a>
          			</li>
    				
					<a th:href="@{/}" class="btn btn-danger">Cerrar Sesion</a>
    			</ul> 
    		</div> 		
    	</nav>
	<div class="container">
		<h2>Detalles del Servicio</h2>
		<div class="card">
			<div class="card-header text-white bg-secondary">Datos Servicio</div>
			<div class="card-body">
				<h3>Service:</h3>
				<ul class="list-group">
					<li class="list-group-item" th:text="'Servicio : '+${servicio.serviceId}"></li>
					<li class="list-group-item" th:text="'Nombre : '+${servicio.serviceName}"></li>
					<li class="list-group-item" th:text="'Categoria : '+${servicio.serviceCategory.categoryName}"></li>
					<li class="list-group-item" th:text="'Costo : '+${servicio.serviceCost}"></li>
					
					
				</ul>
				<br>
				<h3>Supplier:</h3>
				<ul class="list-group">
					<li class="list-group-item" th:text="'Codigo : '+${detalle.supplierDetail.idSupplier}"></li>
					<li class="list-group-item" th:text="'Nombre : '+${detalle.supplierDetail.name}"></li>
					<li class="list-group-item" th:text="'Apellido : '+${detalle.supplierDetail.lastname}"></li>
					<li class="list-group-item" th:text="'Correo : '+${detalle.supplierDetail.email}"></li>
					<li class="list-group-item" th:text="'Telefono : '+${detalle.supplierDetail.phone}"></li>
					<li class="list-group-item" th:text="'Age : '+${detalle.supplierDetail.age}"></li>
					<li class="list-group-item" th:text="'Compania : '+${detalle.supplierDetail.nameCompany}"></li>
					<li class="list-group-item" th:text="'Location : '+${detalle.supplierDetail.location.country}"></li>
					
				</ul>
				<br>
				
				<a th:href="@{/service/list}" class="btn btn-success">Regresar</a>
				
			</div>
		</div>
		
		
		
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>