<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<h2>Detalles del Servicio</h2>
		<div class="card">
			<div class="card-header text-white bg-secondary">Datos Servicio</div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item" th:text="'Servicio : '+${servicio.serviceId}"></li>
					<li class="list-group-item" th:text="'Nombre : '+${servicio.serviceName}"></li>
					<li class="list-group-item" th:text="'Categoria : '+${servicio.serviceCategory.categoryName}"></li>
					<li class="list-group-item" th:text="'Costo : '+${servicio.serviceCost}"></li>
					<li class="list-group-item" th:text="'Supplier : '+${detalle.supplierDetail.name}"></li>
					
				</ul>
				<a th:href="@{/servicio/list}" class="btn btn-success">Regresar</a>
			</div>
		</div>
		
		
		
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>