<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler " type="button" data-toggle="collapse" 
				data-target="#navbarToggerRapiSolver" 
				aria-controls="navbarToggerRapiSolver" 
				aria-expanded="false" 
				aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
    		</button>
    		
    		<div class="collapse navbar-collapse "  id="navbarToggerRapiSolver">
    			<a class="navbar-brand" th:href="@{/supplier/principal}">RapiSolver</a>
    			<ul class="navbar-nav mr-auto mt-2 mt-lg-0 "> 
    				<li class="nav-item">
            			<a class="nav-link js-scroll-trigger" th:href="@{/supplier/perfil}">Mi perfil</a>
          			</li>
          			<li class="nav-item">
            			<a class="nav-link js-scroll-trigger" th:href="@{/service/list}">Buscar Servicio</a>
          			</li>
          			<li class="nav-item">
            			<a class="nav-link js-scroll-trigger" th:href="@{/service/nuevo}">Agregar Servicio</a>
          			</li>
          			<li class="nav-item">
            			<a class="nav-link js-scroll-trigger" th:href="@{/category/list}">Categorias</a>
          			</li>
    				<li class="nav-item">
						<a th:href="@{/}" class="btn btn-danger">Cerrar Sesion</a>
					</li>
    			</ul> 
    		</div> 		
    	</nav>
    	

	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-secondary">Buscar Servicios</div>
			<div class="card-body">
				<div class="form-inline">
					<form th:action="@{/service/searchByServiceName}" method="get">
						<div class="row">
							<div class="col-8">
								<input id="inputServicioNombre" type="text"
								class="form-control" name="servicioNombre"
								placeholder="Buscar por nombre">
							</div>
							<div class="col">
								<button type="submit" class="btn btn-danger">Buscar</button>
							</div>
						</div>
					</form>
					<form th:action="@{/service/searchByServiceCategory}" method="get">
						<div class="row">
							<div class="col-8">
								<input id="inputDni" type="text"
								class="form-control" name="servicioCategoria"
								placeholder="Buscar por Categoria">
							</div>
							<div class="col">
								<button type="submit" class="btn btn-danger">Buscar</button>
							</div>
						</div>
					</form>
					
					
				</div>
				<br>
				<div class="table responsive">
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th>Id</th>
								<th>Nombre</th>
								<th>Categoria</th>
								<th>Cost</th>
								<th>Detalle</th>								
							</tr>
						</thead>
						<tbody>
							<tr th:each="servicio:${listadoServicios}" >
								<td th:text="${servicio.serviceId}"></td>
								<td th:text="${servicio.serviceName}"></td>
								<td th:text="${servicio.serviceCategory.categoryName}"></td>
								<td th:text="${servicio.serviceCost}"></td>
								<td><a th:href="@{'/service/details/' + ${servicio.serviceId}}"
									   class="btn btn-success">Detalle</a>
								</td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>